body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(126, 197, 255), rgb(14, 139, 255));
}

.title {
    margin: 0;
    background-color:rgb(47, 136, 209);
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    background-color: rgb(72, 163, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0px;
}

input {
    padding:5px; 
    border:2px solid rgb(156, 156, 156); 
}

input[type=submit] {
    padding:5px 15px; 
    background:white; 
    cursor:pointer;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=submit]:hover {
    background: dodgerblue;
}

footer {
    margin-top: 100px;
    text-align: center;
    background-color: rgb(72, 163, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}