body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(155, 210, 255), rgb(74, 154, 228));
}
.title {
    margin: 0;
    background-color: rgb(47, 136, 209);
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: rgb(72, 163, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.click {
    margin-left: 30px;
    margin-right: 30px;
    margin: 30;
    text-align: center;
    background-color: rgb(72, 163, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
a:hover {
    background-color: dodgerblue;
}
footer {
    margin-top: 350px;
    text-align: center;
    background-color: rgb(72, 163, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}