body {
    margin: 0;
    padding: 0;
    background-color: rgb(77, 77, 77);
}
.title {
    margin: 0;
    background-color: rgb(37, 184, 49);
    text-align: center;
    color: white;
	font-size: 47px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 5px 2px 4px rgb(0, 0, 0);
}

section {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(37, 184, 49);
    text-align: center;
    color: white;
    font-size: 23px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 5px 2px 4px rgb(0, 0, 0);
}

p {
    margin: 0px;
}

input {
    padding:5px; 
    border:2px solid rgb(156, 156, 156); 
}

input[type=submit] {
    padding:5px 15px; 
    background:rgb(0, 110, 0); 
    cursor:pointer;
    border: none;
}

input[type=submit]:hover {
    background: rgb(77, 77, 77);
}

footer {
    margin-top: 100px;
    text-align: center;
    background-color: rgb(37, 184, 49);
}