body {
    margin: 0;
    padding: 0;
    background-color: rgb(77, 77, 77);
}
.title {
    margin: 0;
    background-color: rgb(37, 184, 49);
    text-align: center;
    color: white;
	font-size: 47px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 5px 2px 4px rgb(0, 0, 0);
}
p {
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(37, 184, 49);
    text-align: center;
    color: white;
	font-size: 23px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 5px 2px 4px rgb(0, 0, 0);
}